<!DOCTYPE html>
<html lang="en">
<head>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_jquery %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}
    <meta charset="UTF-8">
    <title>JCVIDB</title>
</head>


<body>

<div class="row" style="background: #9cd7ff">
  <div class="col-sm-6"  style="padding: 50px;">
    <div class="text-left" style="background: #9cd7ff">
      <h1 style="color:white" class="display-3">JCVIDB</h1>
    </div>
  </div>
  <div class="col-sm-6 row" style="padding-top: 1px;">

{% if not login_context %}
<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto">
      <div class="push-right">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Sign-in/up <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/sign_in">Sign-in</a></li>
            <li><a href="/registration">Sign-up</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
    <h2> {{ login_context.id }} {{ login_context.last_name }}</h2>
<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto">
      <div class="push-right">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{ last_name }}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/profile">profile</a></li>
            <li><a href="/post_data">post</a></li>

            <li><a href="/sign_out">sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">

    <div class="row justify-content-end">
          <form class="form-inline" method="get"  action=  '/search/'   >

      <div class="form-group row" style="margin:10px;">
        <input type="text" class="form-control" id="PGAN" name="PGAN_name">
      </div>
      <button type="submit" class="btn btn-light" style="margin: 10px;">
        <i class="fas fa-search">search </i>
      </button>
    </form>

    </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  {% block content %}
{% endblock %}

</div>
</body>

</html>