{% extends "./common/header.html" %}

{% block content %}


<div class="col-sm-12 ">
    <div class="text-center">
            <h1 > Do you want to approve ?</h1>

    </div>
    <hr>

    <div class="container" style="margin: 5%;">
        <form class="form-horizontal" method="post" >
             {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-sm-2" for="email"><b>Free Gene Set:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.freeGeneSet}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="pwd"><b>PGAN:</b></label>
                <div class="col-sm-10">
<!--                    <input class="col-sm-10" name="PGAN" id="id_PGAN" value="{{prot_data.PGAN}}">-->
                    <label class="col-sm-10">{{prot_data.PGAN}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="email"><b>Locus Tag:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.locusTag}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="pwd"><b>Essentiality:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.essentiality}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2" for="email"><b>Transporters:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.transporters}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="pwd"><b>Coverage:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.coverage}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="email"><b>Creation Date:</b></label>
                <div class="col-sm-10">
                    <label class="col-sm-10">{{prot_data.creationDate}}</label>
                </div>
            </div>


            <div class="form-group row">
                <label class="control-label col-sm-2" for="email"><b>Attachment</b></label>
                <div class="col-sm-10">
<!--                    <label class="col-sm-10" ><a href="../download/" {{prot_data.attachment}} > {{prot_data.attachment}}</a> </label>-->
                    {% if prot_data.attachment %}
                    <label class="col-sm-10" ><a href="{% url 'download_file' file_name=prot_data.attachment %}">  {{prot_data.attachment}}</a> </label>
                    {% else %}
                    <p>No file available for download.</p>
                    {% endif %}
                </div>
            </div>

            {% if login_context.id and login_context.admin  %}
            <div class="form-group row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-7">
                    <button type="submit" id="submitButton" class="btn btn-success">Approve</button>
                </div>
            </div>
            {% endif %}

        </form>
    </div>
</div>

{% endblock %}
